@using jhray.com.Models.AccountViewModels
@model ManageUsersViewModel

@{
    ViewData["Title"] = "Return... Hero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Management</h1>
<table>
@foreach (var row in Model.UserRoles)
{
    <tr>
        <td>@row.Key.Id</td>
        <td>@row.Key.UserName</td>
        <td>@row.Key.Joined</td>
        <td>@row.Key.CreatedGems.Count</td>
        <td>@row.Key.Email</td>
        <td>@string.Join(", ", row.Value)</td>
        <td>@Html.DropDownListFor(model => model.UserRoles[row.Key], new SelectList(Model.Roles))</td>
    </tr>
}
</table>