@model jhray.com.Models.GemMasterViewModels.AddPodcastViewModel;
@{
    ViewData["Title"] = "PictureGemManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="false">New</a>
        </li>
        @foreach (var header in Model.RSSHeaders)
        {
            <li class="nav-item">
                <a class="nav-link" id="@header.Title.Replace(" ", "_")-tab" data-toggle="tab" href="#@header.Title.Replace(" ", "_")" role="tab" aria-controls="@header.Title.Replace(" ", "_")" aria-selected="true">@header.Title</a>
            </li>
        }
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" id="new" role="tabpanel" aria-labelledby="new-tab">
            @using (Html.BeginForm("AddPodcast", "GemMaster", FormMethod.Post))
            {
                @await Html.PartialAsync("FormHelper", nameof(Model.RSSNumber));
                @await Html.PartialAsync("FormHelper", nameof(Model.ChannelLink));
                @await Html.PartialAsync("FormHelper", nameof(Model.WebMaster));
                @await Html.PartialAsync("FormHelper", nameof(Model.ManagingEditor));
                @await Html.PartialAsync("FormHelper", nameof(Model.LogoTitle));
                @await Html.PartialAsync("FormHelper", nameof(Model.LogoUrl));
                @await Html.PartialAsync("FormHelper", nameof(Model.LogoLink));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesName));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesEmail));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesCategory));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesSubCategory));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesCategory2));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesSubCategory2));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesKeywords));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesExplicit));
                @await Html.PartialAsync("FormHelper", nameof(Model.ITunesImage));
                @await Html.PartialAsync("FormHelper", nameof(Model.AtomLink));
                @await Html.PartialAsync("FormHelper", nameof(Model.PubDate));
                @await Html.PartialAsync("FormHelper", nameof(Model.Title));
                @await Html.PartialAsync("FormHelper", nameof(Model.Author));
                @await Html.PartialAsync("FormHelper", nameof(Model.Description));
                @await Html.PartialAsync("FormHelper", nameof(Model.Subtitle));
                @await Html.PartialAsync("FormHelper", nameof(Model.LastBuildDate));
                <input type="submit" class="btn-block loginButton" value="Craft!" />
            }
        </div>
        @foreach (var h in Model.RSSHeaders)
        {
        <div class="tab-pane fade" id="@h.Title.Replace(" ", "_")" role="tabpanel" aria-labelledby="@h.Title.Replace(" ", "_")-tab">
            <p>AtomLink : @h.AtomLink</p>
            <p>Author : @h.Author</p>
            <p>ChannelLink : @h.ChannelLink</p>
            <p>Description : @h.Description</p>
            <p>Id : @h.Id</p>
            <p>ITunesCategory : @h.ITunesCategory</p>
            <p>ITunesCategory2 : @h.ITunesCategory2</p>
            <p>ITunesEmail : @h.ITunesEmail</p>
            <p>ITunesExplicit : @h.ITunesExplicit</p>
            <p>ITunesImage : @h.ITunesImage</p>
            <p>ITunesKeywords : @h.ITunesKeywords</p>
            <p>ITunesName : @h.ITunesName</p>
            <p>ITunesSubCategory : @h.ITunesSubCategory</p>
            <p>ITunesSubCategory2 : @h.ITunesSubCategory2</p>
            <p>LastBuildDate : @h.LastBuildDate</p>
            <p>LogoLink : @h.LogoLink</p>
            <p>LogoTitle : @h.LogoTitle</p>
            <p>LogoUrl : @h.LogoUrl</p>
            <p>ManagingEditor : @h.ManagingEditor</p>
            <p>PubDate : @h.PubDate</p>
            <p>RSSNumber : @h.RSSNumber</p>
            <p>Subtitle : @h.Subtitle</p>
            <p>Title : @h.Title</p>
            <p>WebMaster : @h.WebMaster</p>
        </div>
        }
    </div>
</div>