@model User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Login", "GemMaster", FormMethod.Post))
{
    <div class="container body-content loginContainer">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Name")
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password")
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        @Html.AntiForgeryToken();
        <input type="submit" value="Log Me In!" />
    </div>
}