@using Microsoft.Data.OData.Atom
@model ChilledViewModel
@{
    ViewData["Title"] = "ChilledEsports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background:url(/images/Heaven_Hell_overview02.0.jpg); height:100%; width:100%; min-height:100vh; background-attachment: fixed;">
    <div class="container body-content">
        <div class="chilledBackground">
            <div class="GemTitle">
                <h2>Chilled E-Sports <a href="http://jhray.com/home/getrssfeed"><img id="feedIcon" src="~/images/feed-icon.svg"/></a></h2>
            </div>
            <div class="clearfix">
                @{ int colCount = 4; }
                @for (int i = 0; i < Model.Gems.Count; i++)
                {
                    if (i % colCount == 0)
                    {
                        @Html.Raw("<div class=\"row\">")
                    }
                    var gem = Model.Gems[i];
                    <div class="@gem.Type.ToString() gemItem col-md-3 col-sm-6 col-xs-12">
                        <div class="gemContents">
                            @if (gem is Gem)
                            {
                                <h3 class="gemHeader Podcast">@gem.Title</h3>
                                var podcastGem = gem as Gem;
                                <audio class="gemAudio" controls>
                                    <source src="@podcastGem.AudioLink" type="audio/mpeg"/>
                                    Your browser does not support the audio element.
                                </audio>
                                <p class="gemText">@podcastGem.Text</p>
                            }
                            else
                            {
                                <h3 class="gemHeader Picture">@gem.Title</h3>
                                var imageGem = gem as PictureGem;
                                <a href="@imageGem.PictureLink"><img class="gemPicture" src="@imageGem.PictureLink"/></a>
                                <p style="text-align:center">Artist Name : <a style="text-align:center" href="@imageGem.ArtistSource">@imageGem.ArtistName</a></p>
                            }

                        </div>
                    </div>
                    if (i % colCount == colCount - 1)
                    {
                        @Html.Raw("</div>")
                    }
                }
            </div>
        </div>
    </div>
</div>