@using jhray.com.Models.Gems
@model ChilledViewModel
@{
    ViewData["Title"] = "ChilledEsports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="lightbox_bkg">
    <div class="gem_big">
        <div class="gem_full_contents">

        </div>
    </div>
</div>
<div style="background:url(/static/Heaven_Hell_overview02.0.jpg); height:100%; width:100%; min-height:100vh; background-attachment: fixed;">
    <div class="container body-content">
        <div class="chilledBackground">
            <div class="GemTitle">
                <h2>Chilled E-Sports <a href="http://jhray.com/home/getrssfeed"><img id="feedIcon" src="~/images/feed-icon.svg" /></a></h2>
            </div>
            <div class="clearfix">
                @{
                    int colCount = 4;
                    var podCastGems = Model.Gems.Where(g => g is PodcastGem);
                    var pictureGems = Model.Gems.Where(g => g is PictureGem);
                }

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="blog-tab" data-toggle="tab" href="#blog" role="tab" aria-controls="blog" aria-selected="true">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="podcast-tab" data-toggle="tab" href="#podcast" role="tab" aria-controls="podcast" aria-selected="false">Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="blog" role="tabpanel" aria-labelledby="blog-tab">
                        Hello this is a blog :^)
                    </div>
                    <div class="tab-pane fade" id="podcast" role="tabpanel" aria-labelledby="podcast-tab">
                        @{ int it = 0; }
                        @{ bool open = false; }
                        @foreach (var gem in podCastGems)
                        {
                            if (it % colCount == 0)
                            {
                                @Html.Raw("<div class=\"row\">");
                                open = true;
                            }

                            <div class="@gem.Type.ToString() gemItem col-md-3 col-sm-6 col-xs-12">
                                <div class="gemContents ">
                                    @await Html.PartialAsync("PodcastGem", gem);
                                </div>
                            </div>
                            if (it % colCount == colCount - 1)
                            {
                                @Html.Raw("</div>");
                                open = false;
                            }
                            it++;
                        }
                        @if (open)
                        {
                            @Html.Raw("</div>");
                            open = false;
                        }
                    </div>
                    <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                        @{ it = 0; }
                        @foreach (var gem in pictureGems)
                        {
                            if (it % colCount == 0)
                            {
                                @Html.Raw("<div class=\"row\">")
                                open = true;
                            }

                            <div class="@gem.Type.ToString() gemItem col-md-3 col-sm-6 col-xs-12">
                                <div class="gemContents">
                                    @await Html.PartialAsync("PictureGem", gem)
                                </div>
                            </div>
                            if (it % colCount == colCount - 1)
                            {
                                @Html.Raw("</div>")
                                open = false;
                            }
                        }
                        @if (open)
                        {
                            @Html.Raw("</div>");
                            open = false;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>